@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác nhận email";
}

<a id="forgot-password" asp-page="./Login"><i class="bi bi-arrow-right-short"></i> Quay lại đăng
    nhập</a>

<partial name="_StatusMessage" model="Model.StatusMessage" />
