@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Đã gửi email xác nhận";
}

<p class="text-lg">Vui lòng kiểm tra email để đặt lại mật khẩu.</p>
<a id="forgot-password" asp-page="./Login"><i class="bi bi-arrow-right-short"></i> Quay lại đăng
    nhập</a>